
# list of libraries to install to run code. If you have a virtual environment, activate it now.

# Make sure to update pip:
#     $ sudo pip install --upgrade pip



##### Core scientific packages
jupyter==1.0.0
matplotlib==3.0.3
numpy==1.16.2
pandas==0.24.1
scipy==1.2.1
keras==2.2.4


##### Machine Learning packages
scikit-learn==0.20.3
xgboost==0.82

#### Edit distance packages
fuzzywuzzy==0.17.0
weighted-levenshtein==0.2.1


#### UI and server packages
flask==1.0.3
