div {
    font-weight:normal;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#submitButtonJSON {
  background-color: #daebf2;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}

#submitButtonSearch{
  background-color: #daebf2;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  width: 100px;
  height: 27px;
}

#submitButtonJSON.active, #submitButtonJSON:hover, #submitButtonSearch.active, #submitButtonSearch:hover {
  background-color: #bfe4f2;
}

#header {
  background: #daebf2;
  height: 100px;
  padding: 15px;
}

#searchInput {
  font-size: 16px;
  width: 60%;
  height: 30px;
  padding: 5px;
  margin-left: 15%;
}

#searchResults {
  padding: 15px;
  background: #daebf2;
  float: left;
}

#searchResultsText {
  padding: 15px;
  background: #daebf2;
  float:left;
  margin-left: 15%;
}

#receipt_parse {
  display: inline-block;
  margin-left: 20px;
  width: 45%;
}

#receipt_predict {
  float:right;
  margin-left: 0px;
}

#all_content {
  width: 100%;
  padding: 20px;
}

p {
  text-align: center
}

#search {

  margin: auto;
}

#table {
  padding-top: 15px;  
}

#extraSpace {
  height: 25px;
}

#oneItemSearchDiv {
  background-color: #f2f2f2;
  height: 270px;
  margin-top: 10px;
}

#inputReceipt {
  background-color: #f2f2f2;
  height: 270px;
  padding-left: 50px;
}

#grayBreak {
  background-color: #f2f2f2;
  height: 15px;
}

#smallbreak {
  height: 10px;
}
