<!DOCTYPE HTML>
<head>
    <title>PVI Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index_styles.css') }}">
</head>
<body>
<div id="header">
    <h1 style="text-align:center">Personal Virtual Inventory Project - Receipt Understanding Demo Application</h1>
</div>
<div id="all_content">
    <div class="col-sm-4" id="receipt_parse">
        <div id="smallbreak"></div>
        <div id="inputReceipt">
            <div id="grayBreak"></div>
            <center><h3>HTML Receipt-Parser Demo</h3></center>
            <br>
            <br>
            <br>
            Uploaded HTML: <br><br>
            <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
                <input type = "file" name = "receipt"/><br>
                <input type = "submit" id="submitButtonJSON" value="Parse/Translate Receipt"/><br>
            </form>
        </div>
        <div id="extraSpace"></div>
        {% if text %}
            <h3>Items in Receipt:</h3>
            {% for para in text %}
                <h4>{{para}}:</h4> {{text[para]}} <br>
                <br>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-1" id="receipt_parse"></div>
    <div class="col-sm-6" id="receipt_predict">
        <div id="oneItemSearchDiv">
            <div id="smallbreak"></div>
            <center><h3 id="titleOneItem">Receipt Understanding Demo</h3></center>
            <div id="grayBreak"></div>
            <form action="http://localhost:5000/retrieve" method="post">
                <p>Search custom input: </p>
                <div id="search">
                    <input type="text" id="searchInput" placeholder="Search..." name="searched_receipt" />
                    <button type="submit" id="submitButtonSearch"><i class="fa fa-search">Enter</i></button>
                </div>
            </form>
            <br>
            <div id="searchResultsText">
                <b>Using Deep Learning:</b><br>
                <b>Using GBDT: </b><br>
                <b>Using Edit Distance:  </b><br> 
            </div>
            <div id="searchResults">
                {%if manual_search==True %} {{lstm_output_searched[0]}} {% endif %}<br>
                {%if manual_search==True %} {{gbdt_output_searched}} {% endif %}<br>
                {%if manual_search==True %} {{edit_distance_output_searched}} {% endif %}<br> 
            </div>
        </div>
            <div id="extraSpace"></div>
            
            {% if receipt_titles %}
                <h3>Results of Receipt Translation:</h3>
                <table id="table" border=1>
                <tr> 
                    <th>Receipt Title</th>
                    <th>LSTM Prediction</th>
                    <th>Edit Distance Prediction</th>
                    <th>GBDT Prediction</th>
                </tr>
                {% for i in range(receipt_titles|length) %}
                <tr>
                    <td>{{receipt_titles[i]}}</th>
                    <td>{{lstm_output[i]}}</td>
                    <td>{{edit_distance_output[i]}}</td>
                    <td>{{gbdt_output[i]}}</td>
                </tr>
                {% endfor %}
                </table>
            {% endif %}

    </div>
</div>          
</dive>
</body>
</html>